@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */

@font-face {
  font-family: timer;
  src: url(./assets/font/Onest-Thin.ttf);
}

@font-face {
  font-family: timer2;
  src: url(./assets/font/Recursive_VF_1.078.ttf);
}

::-webkit-scrollbar {
  height: 3px;
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #232937;
  width: 2px;
  border-radius: 50px;
  margin: 0px 550px;
  /* padding-left: 300px; */
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #28abe4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
